@{
    ViewBag.Title = "Home Page";
    var roles = ViewBag.CurrentUserRoles as string[];
}

<div class="row">

    <div class="col-md-6">
        <h2><a href="/Students">Студенты</a></h2>
      </div>

    @if (roles.Contains("Admin") || roles.Contains("Student"))
    {
        <div class="col-md-6">
            <h2><a href="/StudentFacultyDiscipline">Дисциплины студента</a></h2>
        </div>
    }

    @if (roles.Contains("Admin") || roles.Contains("Faculty"))
    {
        <div class="col-md-6">
            <h2><a href="/Groups">Группы</a></h2>
        </div>
    }

    @if (roles.Contains("Admin"))
    {
        <div class="col-md-6">
            <h2><a href="/Faculties">Факультеты</a></h2>
        </div>
    }


    @if (roles.Contains("Admin"))
    {
        <div class="col-md-6">
            <h2><a href="/Disciplines">Дисциплины</a></h2>
        </div>
    }

    @if (roles.Contains("Admin") || roles.Contains("Faculty"))
    {
        <div class="col-md-6">
            <h2><a href="/FacultyDisciplines">Факультеты и дисциплины</a></h2>
        </div>
    }
</div>