@model StudentGroupFacultyApp.Models.ViewModels.SwitchRoleViewModel
@{
    ViewBag.Title = "Выбор роли";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Выберите роль</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <form action="" method="post">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="btn btn-default">
                                    <option>Выберите факультет</option>
                                    <option name="" value="">Прикладная информатика</option>
                                    <option name="" value="">Финансы и кредит</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Переключиться" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>

                <form action="" method="post">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="btn btn-default">
                                    <option>Выберите студента</option>
                                    <option name="" value="">Иванов Иван Иванович</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Переключиться" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
