@model StudentGroupFacultyApp.Models.ViewModels.StudentFacultyDisciplineViewModel
@{
    ViewBag.Title = "Список предметов студента";
}

<div class="container">
    <div class="row">
        <h1>Выберите предметы из списка</h1>
        <hr />
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>
                        <input type="checkbox">
                        <span>Выбрать всё</span>
                    </label>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.StudentDisciplines)
                    {
                        <div class="input-group col-md-12">
                            <div class="input-group-prepend col-md-1">
                                <div class="input-group-text">
                                    <input type="checkbox" value="@item.DisciplineId">
                                </div>
                            </div>
                            <p class="col-md-11">@item.Discipline.DisciplineName</p>
                        </div>
                    }

                    @*<div class="input-group col-md-12">
            <div class="input-group-prepend col-md-1">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
            <p class="col-md-11">Информатика</p>
        </div>
        <div class="input-group col-md-12">
            <div class="input-group-prepend col-md-1">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
            <p class="col-md-11">Информатика</p>
        </div>*@
                    <hr />
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
</div>


