@model StudentGroupFacultyApp.Models.ViewModels.StudentFacultyDisciplineViewModel
@{
    ViewBag.Title = "Список предметов студента";
}

@section Scripts {
    <script>
        $('#allCheckbox').click(function () {
            if ($(this).is(':checked')) {
                $('#controls input:checkbox').prop('checked', true);
            } else {
                $('#controls input:checkbox').prop('checked', false);
            }
        });
    </script>
}

<div class="container">
    <div class="row">
        <h1>Выберите предметы из списка</h1>
        <hr />
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>
                        <input type="checkbox" id="allCheckbox">
                        <span>Выбрать всё</span>
                    </label>
                </div>
                <div class="panel-body" id="controls">
                    @foreach (var item in Model.AllDisciplines)
                    {
                        <div class="input-group col-md-12">
                            <div class="input-group-prepend col-md-1">
                                <div class="input-group-text">
                                    <input type="checkbox" value="@item.DisciplineId">
                                </div>
                            </div>
                            <p class="col-md-11">@item.Discipline.DisciplineName</p>
                        </div>
                    }                   
                    <hr />
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
</div>


